
# intermediate files

build/

# IDE settings

.metadata/

# Python

__pycache__/
*.pyc
*.cmake
*.obj

# Windows detritus

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
/main/html_data_simple_ru_c.h
